pyinstaller
pyscreeze; platform_system != "Linux"
Xlib; platform_system == "Linux"
pynput
pycryptodome
pillow
pywin32; platform_system == "Windows"
wmi; platform_system == "Windows"
future
pyDH
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
